<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/style.css' %}"/>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ city.name }} 5 Day Forecast
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {% for day, day_list in forecast_data.items %}
                    <div class="column is-12">
                        <span class="title">{{ day }}</span>
                        <div class="scrolls">
                            <div class="columns is-gapless">
                                {% for weather_forecast in day_list %}
                                    <div class="column is-narrow">
                                        <div class="box" style="width: 240px;">
                                            <article class="media">
                                                <div class="media-left">
                                                    <figure class="image is-50x50">
                                                        <img src="http://openweathermap.org/img/w/{{ weather_forecast.icon }}.png" alt="Image">
                                                    </figure>
                                                </div>
                                                <div class="media-content">
                                                    <div class="content">
                                                        <p>
                                                            <span class="title">{{ weather_forecast.time }}</span>
                                                            <br>
                                                            <span class="subtitle">{{ weather_forecast.temperature }} °C</span>
                                                            <br> {{ weather_forecast.description }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
